{#
{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe • AppyLove {% endblock %}

{% block body %}
    <div class="grix xs4 container">
        {% for message in app.flashes('error') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 error">{{message}}</div>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h1>{{ app.user.pseudo }}</h1>
            <form method="post">
                <div class="form-field">
                    <label for="mdp">Nouveau mot de passe</label>
                    <input type="password" id="mdp" name="mdp" class="form-control">
                </div>
                <div class="form-field">
                    <label for="mdp2">Confirmer le nouveau mot de passe</label>
                    <input type="password" id="mdp2" name="mdp2" class="form-control">
                </div>
                <button class="btn blue">Valider</button>
            </form>
        </div> <!-- /.col-xs4 -->
    </div> <!-- /.grix -->
    <hr>
{% endblock %}#}
