{% extends "base.html.twig" %}

{% block title %}Inscription • AppyLove{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">

                <img class="img-fluid mx-auto d-block mb-5"
                     src="{{ asset('assets/img/logo_bleu_rose.png') }}"
                     alt="Logo AppyLove">

                <h3 class="my-4 text-center">Inscription</h3>
                {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
            </div>
        </div>

        <p class="small text-center">Vous avez un compte ?
            <a href="{{ path('app_login') }}">Connectez-vous</a>
        </p>

    </div>



{% endblock %}
